<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6 col-md-1 order-1">
                        <a href="index.html" class="header-logo">
                            <img src="static/img/header-logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-12 col-md-10 col-lg-7 order-3 oder-md-2">
                        <div class="header-nav">
                            <a href="index.html" id="hero" class="header-nav__elem">Главная</a>
                            <a href="#" id="about" class="header-nav__elem">О нас</a>
                            <a href="#" id="events" class="header-nav__elem">События</a>
                            <a href="#" id="news" class="header-nav__elem">Новости</a>
                            <a href="#" id="rating" class="header-nav__elem">Рейтинг</a>
                            <a href="education.html" id="education" class="header-nav__elem">Обучение</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-1 offset-lg-1 order-2 order-md-3">
                        <div class="header-sign">
                            <a href="signin.html" class="header-sign__btn">Авторизация</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.header-wrapper -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->

    <section class="forAuthorization mailConfirm">
        <div class="container">
            <h1 class="mailConfirm-text">Подтвердите свою почту</h1>
            <a href="" class="btn btn-primary mail-btn">На главную</a>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
